In [1]:
import pandas as pd
import numpy as np
def load_and_examine_data(file_path):
    df = pd.read_csv(file_path)
    print("Dataset loaded successfully.")
    print("\nFirst 5 rows of the dataset:")
    print(df.head())
    print("\nDataset information:")
    print(df.info())
    print("\nDataset description:")
    print(df.describe())
    print("\nlast 7 rows of the dataset:")
    print(df.tail(7))
    return df

# Call the function outside
file_path = "C:\\Users\\ajroy\\OneDrive\\Desktop\\house_price_predection\\data\\USA Housing Dataset.csv"

df = load_and_examine_data(file_path)

Dataset loaded successfully.

First 5 rows of the dataset:
                  date      price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0  2014-05-09 00:00:00   376000.0       3.0       2.00         1340      1384
1  2014-05-09 00:00:00   800000.0       4.0       3.25         3540    159430
2  2014-05-09 00:00:00  2238888.0       5.0       6.50         7270    130017
3  2014-05-09 00:00:00   324000.0       3.0       2.25          998       904
4  2014-05-10 00:00:00   549900.0       5.0       2.75         3060      7015

   floors  waterfront  view  condition  sqft_above  sqft_basement  yr_built  \
0     3.0           0     0          3        1340              0      2008
1     2.0           0     0          3        3540              0      2007
2     2.0           0     0          3        6420            850      2010
3     2.0           0     0          3         798            200      2007
4     1.0           0     0          5        1600           1460      1979

   yr_renovated                   street       city  statezip country
0             0  9245-9249 Fremont Ave N    Seattle  WA 98103     USA
1             0         33001 NE 24th St  Carnation  WA 98014     USA
2             0         7070 270th Pl SE   Issaquah  WA 98029     USA
3             0           820 NW 95th St    Seattle  WA 98117     USA
4             0        10834 31st Ave SW    Seattle  WA 98146     USA

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4140 entries, 0 to 4139
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4140 non-null   object
 1   price          4140 non-null   float64
 2   bedrooms       4140 non-null   float64
 3   bathrooms      4140 non-null   float64
 4   sqft_living    4140 non-null   int64
 5   sqft_lot       4140 non-null   int64
 6   floors         4140 non-null   float64
 7   waterfront     4140 non-null   int64
 8   view           4140 non-null   int64
 9   condition      4140 non-null   int64
 10  sqft_above     4140 non-null   int64
 11  sqft_basement  4140 non-null   int64
 12  yr_built       4140 non-null   int64
 13  yr_renovated   4140 non-null   int64
 14  street         4140 non-null   object
 15  city           4140 non-null   object
 16  statezip       4140 non-null   object
 17  country        4140 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 582.3+ KB
None

Dataset description:
              price     bedrooms    bathrooms   sqft_living      sqft_lot  \
count  4.140000e+03  4140.000000  4140.000000   4140.000000  4.140000e+03
mean   5.530629e+05     3.400483     2.163043   2143.638889  1.469764e+04
std    5.836865e+05     0.903939     0.784733    957.481621  3.587684e+04
min    0.000000e+00     0.000000     0.000000    370.000000  6.380000e+02
25%    3.200000e+05     3.000000     1.750000   1470.000000  5.000000e+03
50%    4.600000e+05     3.000000     2.250000   1980.000000  7.676000e+03
75%    6.591250e+05     4.000000     2.500000   2620.000000  1.100000e+04
max    2.659000e+07     8.000000     6.750000  10040.000000  1.074218e+06

            floors   waterfront         view    condition   sqft_above  \
count  4140.000000  4140.000000  4140.000000  4140.000000  4140.000000
mean      1.514130     0.007488     0.246618     3.452415  1831.351449
std       0.534941     0.086219     0.790619     0.678533   861.382947
min       1.000000     0.000000     0.000000     1.000000   370.000000
25%       1.000000     0.000000     0.000000     3.000000  1190.000000
50%       1.500000     0.000000     0.000000     3.000000  1600.000000
75%       2.000000     0.000000     0.000000     4.000000  2310.000000
max       3.500000     1.000000     4.000000     5.000000  8020.000000

       sqft_basement     yr_built  yr_renovated
count    4140.000000  4140.000000   4140.000000
mean      312.287440  1970.814010    808.368357
std       464.349222    29.807941    979.380535
min         0.000000  1900.000000      0.000000
25%         0.000000  1951.000000      0.000000
50%         0.000000  1976.000000      0.000000
75%       602.500000  1997.000000   1999.000000
max      4820.000000  2014.000000   2014.000000

last 7 rows of the dataset:
                     date          price  bedrooms  bathrooms  sqft_living  \
4133  2014-07-08 00:00:00  289373.307692       3.0       2.50         2538
4134  2014-07-09 00:00:00  210614.285714       3.0       2.50         1610
4135  2014-07-09 00:00:00  308166.666667       3.0       1.75         1510
4136  2014-07-09 00:00:00  534333.333333       3.0       2.50         1460
4137  2014-07-09 00:00:00  416904.166667       3.0       2.50         3010
4138  2014-07-10 00:00:00  203400.000000       4.0       2.00         2090
4139  2014-07-10 00:00:00  220600.000000       3.0       2.50         1490

      sqft_lot  floors  waterfront  view  condition  sqft_above  \
4133      4600     2.0           0     0          3        2538
4134      7223     2.0           0     0          3        1610
4135      6360     1.0           0     0          4        1510
4136      7573     2.0           0     0          3        1460
4137      7014     2.0           0     0          3        3010
4138      6630     1.0           0     0          3        1070
4139      8102     2.0           0     0          4        1490

      sqft_basement  yr_built  yr_renovated                 street       city  \
4133              0      2013          1923  5703 Charlotte Ave SE     Auburn
4134              0      1994             0     26306 127th Ave SE       Kent
4135              0      1954          1979         501 N 143rd St    Seattle
4136              0      1983          2009       14855 SE 10th Pl   Bellevue
4137              0      2009             0       759 Ilwaco Pl NE     Renton
4138           1020      1974             0      5148 S Creston St    Seattle
4139              0      1990             0      18717 SE 258th St  Covington

      statezip country
4133  WA 98092     USA
4134  WA 98030     USA
4135  WA 98133     USA
4136  WA 98007     USA
4137  WA 98059     USA
4138  WA 98178     USA
4139  WA 98042     USA